<mat-card class="mt-20"> 
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <mat-list-item routerLink="/admin-dashboard">
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle>Home</div>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard/profile">
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <div matListItemTitle>Profile</div>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard/categories">
          <mat-icon matListItemIcon>list</mat-icon>
          <div matListItemTitle>Categories</div>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard/addCategories">
          <mat-icon matListItemIcon>add_circle_outline</mat-icon>
          <div matListItemTitle>Add Categories</div>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard/quizzes">
          <mat-icon matListItemIcon>quiz</mat-icon>
          <div matListItemTitle>Quizzes</div>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard/addQuiz">
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Add Quiz</div>
        </mat-list-item>
        <mat-list-item (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <div matListItemTitle>Logout</div>
        </mat-list-item>
      </mat-action-list>
</mat-card>