<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf = "!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon mr50" aria-label="Example icon-button with heart icon">
        <span>Login</span>
    </a>
    <a *ngIf = "!isLoggedIn" routerLink="/register" mat-icon-button class="example-icon mr50" aria-label="Example icon-button with share icon">
        <span>Register</span>
    </a>
    <a *ngIf = "isLoggedIn" routerLink="/admin-dashboard/profile" mat-icon-button class="example-icon mr50" aria-label="Example icon-button with heart icon">
        <span>{{ username }}</span>
    </a>
    <a *ngIf = "isLoggedIn" (click)="logout()" mat-icon-button class="example-icon mr50" aria-label="Example icon-button with heart icon">
        <span>Logout</span>
    </a>
</mat-toolbar>